$darkBrown: #615c47;
$darkerBrown: #3e3b2e;
$lightBrown: #e0d4ab;
$orange: #e06025;

body {
  background: $darkerBrown;
  color: #e0d4ab;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

.btn {
  padding: 0.375rem 1rem 0.575rem 1rem;
}

a {
  transition: 0.2s;
  cursor: pointer;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.btn-danger {
  background: $orange;
  border-color: darken($orange, 5%);
  &:hover {
    background: darken($orange, 10%);
  }
}

@import 'navbar';

// Hero
.herocontent {
  position: absolute;
  bottom: 60px;
  z-index: 3;
  width: 100%;
  color: #fff;
  text-align: center;
  h1 {
    font-weight: 700;
  }
  p {
    font-size: 20px;
  }
  i {
    margin-left: 10px;
  }
  .btn {
    margin-bottom: 15px;
  }
  @media all and (max-width: 991px) {
    h1 {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      font-size: 17px;
    }
  }
  @media all and (max-width: 767px) {
    h1 {
      font-size: 36px;
    }
    p {
      font-weight: 400;
    }
  }
}
@import 'animate';

.video-container {
  margin-bottom: 80px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #2c2a24;
  background-size: cover;
  .overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==)
      repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  @media all and (max-width: 767px) {
    background-image: url('./assets/headers/capa1.jpg');
    video {
      display: none;
    }
  }
}

//Homevideos

.homevideos {
  section {
    margin-bottom: 80px;
  }
  h2 {
    text-transform: uppercase;
    color: $lightBrown;
    font-size: 32px;
    font-weight: 700;
    transition: 0.2s;
    &:hover {
      color: #000;
      small,
      span {
        color: $orange;
      }
      img {
        margin-right: 15px;
      }
    }
    span {
      color: #000;
    }
    img {
      width: 40px;
      margin-right: 20px;
      margin-bottom: 5px;
      transition: 0.2s;
    }
    small {
      color: white;
      margin-left: 15px;
      font-size: 16px;
      transition: 0.2s;
    }
  }
  .slick-prev,
  .slick-next {
    width: 24px;
    height: 24px;
    &:not(slick-disabled):before {
      color: $orange;
      font-size: 24px;
    }
  }
  @media all and (max-width: 767px) {
    h2 {
      font-size: 24px;
      img {
        width: 24px;
        margin-right: 5px;
      }
    }
  }
}

.homevideos_videothumb {
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  transition: 0.2s;
  margin-bottom: 30px;
  &:hover {
    color: white;
  }
  img {
    margin-bottom: 10px;
    transition: 0.2s;
    &:hover {
      filter: brightness(120%) grayscale(50%) contrast(110%);
    }
  }
}

@import 'videolightbox';

// Category Pages
.page_hero {
  position: relative;
  //background-image: url('./assets/headers/capa1.jpg');
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  img {
    height: 100%;
  }
}

.page_hero-content {
  height: 100%;
  color: white;
  z-index: 3;
  .row {
    height: 100%;
  }
  h1 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
  }
  @media all and (max-width: 1199px) {
    h1 {
      font-size: 56px;
    }
  }
  @media all and (max-width: 991px) {
    h1 {
      font-size: 42px;
    }
  }
  @media all and (max-width: 767px) {
    text-align: center;
    .row {
      height: auto;
      padding-top: 200px;
    }
    .align-self-center {
      align-self: auto;
    }
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    img {
      max-width: 80px;
      margin-bottom: 30px;
    }
  }
}

.page_content {
  background-image: url('./assets/fundo.svg');
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 150px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: white;
  p {
    max-width: 66%;
    margin-bottom: 30px;
  }
  h3 {
    color: $lightBrown;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  a {
    color: $orange;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }
  img {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  @media all and (max-width: 991px) {
    p {
      max-width: 100%;
    }
  }
}

.categorypage_videos {
  padding-top: 80px;
  padding-bottom: 150px;
  .categorypage_videos-box {
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    &:hover {
      color: white;
    }
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s;
    &:hover {
      filter: brightness(120%) grayscale(50%) contrast(110%);
    }
  }
}

.movimentopage_nomes {
  column-count: 4;
  column-gap: 30px;
  p {
    margin-bottom: 5px;
    font-size: 12px;
    color: $lightBrown;
  }
  @media all and(max-width: 1199px) {
    column-count: 3;
  }
  @media all and(max-width: 767px) {
    column-count: 2;
  }
  @media all and(max-width: 527px) {
    column-count: 1;
  }
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
  background: #181818;
  text-align: right;
  a {
    color: $lightBrown;
    &:hover {
      color: $orange;
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px;
    li {
      display: inline-block;
      padding: 15px;
    }
  }
  button.btn {
    font-weight: 700;
    background: $orange;
    border-radius: 20px;
    border: none;
    &:hover {
      background: #000;
    }
  }
  img {
    max-width: 200px;
    margin-bottom: 30px;
  }
  @media all and (max-width: 991px) {
    text-align: center;
    ul > li {
      display: block;
    }
  }
}
