<div class="container nopadding">
    <div class="row">
        <div class="col-lg-2 block_left">
            <a href="index.html"><img src="i/logos/logo_claro.svg" class="width200"></a>
        </div>
        <div class="col-lg-7 top40 bottom60 text-lg-right block_right sides30">
            <a href="#" class="light link white right25">{{page.menu5propostas}}</a>
            <a href="{{page.menuMovimentoLink}}" class="light link white right25">{{page.menuMovimento}}</a>
            <a href="{{page.menuLaboratorioLink}}" class="light link white right25">{{page.menuLaboratorio}}</a>
        </div>
        <div class="col-lg-2 top30 bottom30 text_center text-lg-right block_right">
            <a href="{{page.menuParticipe}}" class="btn size40 orange radius20 font12 semibold spacing15 padding_sides15 font_second">{{page.menuParticipe}}</a>
        </div>
    </div>
    <div class="top5 bottom45 hr height1 white opacity1"></div>
    <div class="row">
        <div class="col-lg-5 bottom20 block_left2">
            <span class="socials">
                <a href="#" class="link white left25"><i class="fab fa-facebook"></i></a>
                <a href="#" class="link white left25"><i class="fab fa-twitter"></i></a>
                <a href="#" class="link white left25"><i class="fab fa-instagram"></i></a>

            </span>
        </div>
        <div class="col-lg-5 bottom20 block_center sand bold">
            contato@liberteofuturo.net
        </div>
        <div class="col text-lg-right">
            <div class="light white opacity3 text">
                <p class="bold">2020<i class="left20 fab fa-creative-commons"></i></p>
            </div>
        </div>
    </div>
</div>
