<nav class="navigation_1 bg_dark_green padding_top20 padding_bottom10">
    <div class="container nopadding">
        <div class="row justify-content-center line_height40">
            <div class="col-xl-2 col-lg-2 block_left text_left">
                <a href="index.html"><img src="i/logos/logo_horizontal.svg" class="width300"></a>
            </div>
            <div class="col-xl-2 col-lg-2 block_left text_left"></div>
            <div class="col-xl-3 col-lg-3 block_right text_right top10 dropdown">
                <a href="#" class="sides20 link soft_green bold font14 dropdown-toggle" id="navigation_3_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{page.menu5propostas}}</a>
                <div class="bg_dark dropdown-menu" aria-labelledby="navigation_2_dropdown">
                    <div class="row justify-content-left top40 sides80">
                        <div class="left15">
                            <img src="i/logos/antidoto.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            01
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="{{page.categoria1Link}}" class="link dark_green">{{page.categoria1}}</a>
                        </div>
                    </div>
                    <div class="left180 right100 font14 light sand">
                        {{page.menuSubtitulo1}}
                    </div>
                    
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/democracia.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            02
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="{{page.categoria2Link}}" class="link dark_green">{{page.categoria2}}</a>
                        </div>
                    </div>
                    <div class="left180 right100 font14 light sand">
                        {{page.menuSubtitulo2}}
                    </div>
                    
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/consumo.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            03
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="{{page.categoria3Link}}" class="link dark_green">{{page.categoria3}}</a>
                        </div>
                    </div>
                    <div class="left180 right100 font14 light sand">
                        {{page.menuSubtitulo3}}
                    </div>
                    
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/clima.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            04
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="{{page.categoria4Link}}" class="link dark_green">{{page.categoria4}}</a>
                        </div>
                    </div>
                    <div class="left180 right100 font14 light sand">
                        {{page.menuSubtitulo4}}
                    </div>
                    
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/insurreicao.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            05
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="{{page.categoria5Link}}" class="link dark_green">{{page.categoria5}}</a>
                        </div>
                    </div>
                    <div class="left180 right100 font14 light sand bottom80">
                        {{page.menuSubtitulo5}}
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 block_right text_right top10">
                <a href="{{page.menuMovimentoLink}}" class="link soft_green bold sides10 font14">{{page.menuMovimento}}</a>
                <a href="{{page.menuLaboratorioLink}}" class="link soft_green bold sides10 font14">{{page.menuLaboratorio}}</a>
                <p class="link white bold sides40 font12"><a href="{{page.linkPT}}" class="white">PT</a> || <a href="{{page.linkEN}}" class="white">EN</a> </p>
                <a href="{{page.menuParticipeLink}}" class="btn top5 orange radius20 sand bold font16">{{page.menuParticipe}}</a>
            </div>
<!--
            <div class="col-xl-1 col-lg-1 text_right block_right top15">
                
            </div>
-->
        </div>
    </div>
</nav>
