<nav class="navigation_1 bg_dark_green padding_top20 padding_bottom10">
    <div class="container nopadding">
        <div class="row justify-content-center line_height40">
            <div class="col-xl-2 col-lg-2 block_left text_left">
                <a href="index.html"><img src="i/logos/logo_horizontal.svg" class="width300"></a>
            </div>
            <div class="col-xl-2 col-lg-2 block_left text_left"></div>
            <div class="col-xl-3 col-lg-3 block_right text_right top10 dropdown">
                <a href="#" class="link soft_green bold font12 dropdown-toggle" id="navigation_2_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">5 propostas para adiar o fim do mundo</a>
                <div class="bg_soft_green dropdown-menu" aria-labelledby="navigation_2_dropdown">
                    <div class="row justify-content-left top80 sides80">
                        <div class="left15">
                            <img src="i/logos/antidoto.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            01
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="antidotos.html" class="link dark_green">Antídotos</a>
                        </div>
                        <div class="top20 left30 font14 light sand">
                        Imagine como quer viver
                    </div>
                    </div>
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/democracia.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            02
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="democracia.html" class="link dark_green">Democracia</a>
                        </div>
                        <div class="top20 left30 font14 light sand">
                        Para que seja mais do que votar a cada eleição
                    </div>
                    </div>
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/consumo.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            03
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="consumo.html" class="link dark_green">Consumo</a>
                        </div>
                        <div class="top20 left30 font14 light sand">
                        Para que seja mais do que votar a cada eleição
                    </div>
                    </div>
                    <div class="row justify-content-left top30 sides80">
                        <div class="left15">
                            <img src="i/logos/consumo.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            04
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="clima.html" class="link dark_green">Clima</a>
                        </div>
                        <div class="top20 left30 font14 light sand">
                        Para que seja mais do que votar a cada eleição
                    </div>
                    </div>
                    <div class="row justify-content-left top30 sides80 bottom80">
                        <div class="left15">
                            <img src="i/logos/insurreicao.svg" class="width60">
                        </div>
                        <div class="top10 left20 right10 font32 uppercase bold font_second dark_gray">
                            03
                        </div>
                        <div class="top10 font32 uppercase bold font_second dark_green">
                            <a href="insurreicao.html" class="link dark_green">Insurreição</a>
                        </div>
                        <div class="top20 left30 font14 light sand">
                        Para que seja mais do que votar a cada eleição
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 block_center top10">
                <a href="movimento.html" class="link soft_green bold sides10 font12">Movimento</a>
                <a href="laboratorio.html" class="link soft_green bold sides10 font12">Laboratório</a>
                <p class="link white bold sides60 font12"><a href="#" class="white">PT</a> || <a href="#" class="white">EN</a> </p>
            </div>
            <div class="col-xl-1 col-lg-1 text_right block_right top15">
                <a href="participe.html" class="btn orange radius20 sand bold font14">Participe</a>
            </div>
        </div>
    </div>
</nav>
