<a class="open_menu bg_sand radius_full"><i class="fas fa-bars line_height40"></i></a>
<div class="navigation_mobile type3">
    <a class="close_menu white"><i class="fas fa-times"></i></a>
    <div class="padding_sides40 padding_top60 padding_bottom60 inner bg_dark">
        <div class="profile">
            <img src="../i/logos/logo_horizontal.svg" class="radius_full width_full float_left" alt="" />
        </div>
        <div><a href="#" class="top45 uppercase orange extrabold font18 link bottom15">5 propostas para o fim do mundo</a></div>
        <div><a href="antidotos.html" class="left30 font18 link white bottom15">Antídotos</a></div>
        <div><a href="democracia.html" class="left30 font18 link white bottom15">Democracia</a></div>
        <div><a href="consumo.html" class="left30 font18 link white bottom15">Consumo</a></div>
        <div><a href="clima.html" class="left30 font18 link white bottom15">Clima</a></div>
        <div><a href="insurreicao.html" class="left30 font18 link white bottom15">Insurreição</a></div>
        <div><a href="movimento.html" class="uppercase orange extrabold font18 link bottom15">Movimento</a></div>
        <div><a href="laboratorio.html" class="uppercase orange extrabold font18 link bottom15">Laboratório</a></div>
        <div class="top45 text_center"><a href="participe.html" class="btn orange radius20 sand bold font14">Participe</a></div>
        <div class="top60 white extrabold "><a href="index.html" class="white right10">PT</a>||<a href="index-en.html" class="white left10">EN</a></div>
    </div>
</div>