<a class="open_menu bg_sand radius_full"><i class="fas fa-bars line_height40"></i></a>
<div class="navigation_mobile type3">
    <a class="close_menu white"><i class="fas fa-times"></i></a>
    <div class="padding_sides40 padding_top60 padding_bottom60 inner bg_dark">
        <div class="profile">
            <img src="i/logos/logo_horizontal.svg" class="radius_full width_full float_left" alt="" />
        </div>
        <div><a href="#" class="top45 uppercase orange extrabold font18 link bottom15">{{page.menu5propostas}}</a></div>
        <div><a href="{{page.categoria1Link}}" class="left30 font18 link white bottom15">{{page.categoria1}}</a></div>
        <div><a href="{{page.categoria2Link}}" class="left30 font18 link white bottom15">{{page.categoria2}}</a></div>
        <div><a href="{{page.categoria3Link}}" class="left30 font18 link white bottom15">{{page.categoria3}}</a></div>
        <div><a href="{{page.categoria4Link}}" class="left30 font18 link white bottom15">{{page.categoria4}}</a></div>
        <div><a href="{{page.categoria5Link}}" class="left30 font18 link white bottom15">{{page.categoria5}}</a></div>
        <div><a href="{{page.menuMovimentoLink}}" class="uppercase orange extrabold font18 link bottom15">{{page.menuMovimento}}</a></div>
        <div><a href="{{page.menuLaboratorioLink}}" class="uppercase orange extrabold font18 link bottom15">{{page.menuLaboratorio}}</a></div>
        <div class="top45 text_center"><a href="{{page.menuParticipeLink}}" class="btn orange radius20 sand bold font14">{{page.menuParticipe}}</a></div>
        <div class="top60 white extrabold "><a href="{{page.linkPT}}" class="white right10">PT</a>||<a href="{{page.linkEN}}" class="white left10">EN</a></div>
    </div>
</div>
