<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head> 
    <body>

        {% include navMobile.html %}

        <header class="padding_top200 padding_bottom150 bg_dark_green parallax-image" style="height: 100%">

            {% include headerMenu.html %}

            <div class="container nopadding">
                <div class="col-xl-12 col-lg-12 padding_bottom50 sand font_second bold font40 uppercase">
                    #liberte o futuro
                    <p class="font14 light soft_green">Cinco Propostas para adiar o fim do mundo</p>
                </div>
                <div class="col-xl-12 col-lg-12 padding_bottom80">
                    <img src="i/headers/HOME_DESTAQUE_4.jpg" class="width_full">
                </div>
                <div class="col-xl-12 col-lg-12 white font_second font20">
                    <p class="top20 bottom30">Os "Laboratórios Sociais: Liberte o Futuro" são jornadas colaborativas de encontros online entre pessoas que protagonizam inovações para criar futuros, a partir do chamado das "Cinco Propostas para Adiar o Fim do Mundo". É o momento de aprofundamento, de planejar ações para o futuro e executá-las no presente. É uma invocação da responsabilidade coletiva expressada pela equação da rebelião: Eu+1+ (criação do pescador e poeta do Xingu Élio Alves da Silva).</p>
                    <p class="top20 bottom30">A metodologia do Lab #LiberteoFuturo tem como objetivo, a partir do  entendimento sistêmico dos problemas, estimular ideias, ações, protótipos e propostas que  promovam a cultura em rede, novas incidências na vida coletiva e pautas interativistas, possibilitando a ampliação e o fortalecimento de vínculos, assim como a criação de estratégias de convergência entre pessoas que protagonizam inovações.</p>
                    <p class="top20 bottom30">O Lab #LiberteoFuturo é um processo dialógico de mudança envolvendo pessoas interessadas em construir um futuro promissor e/ou iniciativas destinadas a abordar os problemas pela raiz, acelerar a transformação, convergir ações e contribuir para a promoção do bem comum.</p>
                    <p class="top20 bottom30">Serão 12 encontros virtuais - uma vez por semana, durante três meses - com duração de duas horas cada, entre encontros com convidados, de co-criação e alinhamento do grupo. O compromisso é com o processo, com a experimentação e com a colaboração, mas a intenção é despertar o interesse das pessoas e coletivos para a ideação e a ação.</p>
                    <p class="top20 bottom30">Inscreva-se aqui: [link para formulário]</p>
                </div>
            </div>		
        </header>


        <footer class="footer_11 bg_dark padding_top25 padding_bottom20">
            {% include footer.html %}
        </footer>
        
        <!-- popup with video -->
        <div class="overlay"></div>

        <div class="video_popup">
            <a class="close">
                <img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
            </a>
            <div class="flex align_center justify_center width_full height_full iframe_container"></div>
        </div>

        {% include scripts.html %}
    </body>
</html>
