<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head> 
    <body>


        {% include navMobile.html %}


        <header class="padding_top200 bg_dark_green parallax-image" style="height: 100%">

            {% include headerMenu.html %}

            <div class="container nopadding">
                <div class="col-xl-12 col-lg-12 sand font_second bold font40 uppercase">
                    {{page.titulo}}
                </div>
                <div class="col-xl-12 col-lg-12 padding_bottom50 soft_green font_second bold font22 uppercase">
                    {{page.subtitulo}}
                </div>
                <div class="col-xl-12 col-lg-12 white font_second font18">
                    <ol class="light">
                        <li>{{page.topico1}} <strong>#liberteofuturo #freethefuture</strong> {{page.topico1Continua}}</li>
                        <li>{{page.topico2}} <strong>#liberteofuturo #freethefuture</strong>;</li>
                        <li>{{page.topico3}}</li>
                        <li>{{page.topico4}}</li>
                    </ol>
                </div>
                <div class="col-xl-12 col-lg-12 padding_top50 padding_bottom50 soft_green font_second bold font22 uppercase">
                    {{page.subtitulo2}}
                </div>
                <div class="col-xl-12 col-lg-12 white font_second font18 bottom80">
                    <ul class="light">
                        <li>{{page.item1}}</li>
                        <li>{{page.item2}}</li>
                        <li>{{page.item3}}</li>
                        <li>{{page.item4}}</li>
                        <li>{{page.item5}}</li>
                        <li>{{page.item6}}
                            <ol class="light top50 bottom50">
                                <li><strong>{{page.categoria1}}:</strong> {{page.frase1}}</li>
                                <li><strong>{{page.categoria2}}:</strong> {{page.frase2}}</li>
                                <li><strong>{{page.categoria3}}:</strong> {{page.frase3}}</li>
                                <li><strong>{{page.categoria4}}:</strong> {{page.frase4}}</li>
                                <li><strong>{{page.categoria5}}:</strong> {{page.frase5}}</li>
                            </ol>
                        </li>
                        <li>{{page.item7}}</li>
                        <li>{{page.item8}}</li>
                    </ul>
                </div>
            </div>		
        </header>

        <footer class="footer_11 bg_dark padding_top25 padding_bottom20">
            {% include footer.html %}
        </footer>

        <div class="video_popup">
            <a class="close">
                <img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
            </a>
            <div class="flex align_center justify_center width_full height_full iframe_container"></div>
        </div>

        {% include scripts.html %}

    </body>
</html>
