<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head> 
    <body>

        {% include navMobile.html %}


        <header class="padding_top200 padding_bottom80 bg_dark_green header_3">
            {% include headerMenu.html %}


            <div class="container nopadding">
                <div class="row justify-content-left">
                    <div class="left15">
                        <img src="i/logos/{{page.logoArquivo}}.svg" class="width80">
                    </div>
                    <div class="top20 left20 right10 font42 uppercase bold font_second dark_gray title">
                        01
                    </div>
                    <div class="top20 font42 uppercase bold font_second dark title">
                        {{page.titulo}}
                    </div>
                </div>
                <div class="left100 right60 font14 medium soft_green text_left">
                    {{page.subtitulo}}
                </div>	
            </div>
            <div class="container nopadding text-left">
                <div class="container nopadding">
                    <div class="row justify-content-center">
                        <div class="col-xs-6 col-lg-6 padding_top40">
                            <div class="block sides10">
                                <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                            </div>
                            <div class="top10 left10 font16 extrabold font_second link soft_green title">Abdul-Halim</div>
                        </div>
                        <div class="col-xs-6 col-lg-6 padding_top40">
                            <div class="block sides10">
                                <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                            </div>
                            <div class="top10 left10 font16 extrabold font_second link soft_green title">Fabiana Cozz</div>
                        </div>
                    </div>		
                </div>
            </div>
        </header>

        <section id="democracia" class="bg_dark_green padding_bottom40">
            <div class="container nopadding">
                {% if page.logoArquivo == "antidoto" %}
                <div class="row bottom20">
                    {% for antidoto in site.data.antidoto %}
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="{{antidoto.url}}?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">{{antidoto.autor}}</p>
                    </div>
                    {% endfor %}
                </div>
                
                {% elsif page.logoArquivo == "democracia" %}
                <div class="row bottom20">
                    {% for democracia in site.data.democracia %}
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="{{democracia.url}}?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">{{democracia.autor}}</p>
                    </div>
                    {% endfor %}
                </div>
                
                {% elsif page.logoArquivo == "consumo" %}
                <div class="row bottom20">
                    {% for consumo in site.data.consumo %}
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="{{consumo.url}}?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">{{consumo.autor}}</p>
                    </div>
                    {% endfor %}
                </div>
                
                {% elsif page.logoArquivo == "clima" %}
                <div class="row bottom20">
                    {% for clima in site.data.clima %}
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="{{clima.url}}?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">{{clima.autor}}</p>
                    </div>
                    {% endfor %}
                </div>
                
                {% elsif page.logoArquivo == "insurreicao" %}
                <div class="row bottom20">
                    {% for insurreicao in site.data.insurreicao %}
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="{{insurreicao.url}}?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">{{insurreicao.autor}}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
        </section>



        <footer class="footer_11 bg_dark padding_top25 padding_bottom20">
            {% include footer.html %}
        </footer>
        
        <!-- popup with video -->
        <div class="overlay"></div>

        <div class="video_popup">
            <a class="close">
                <img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
            </a>
            <div class="flex align_center justify_center width_full height_full iframe_container"></div>
        </div>

        {% include scripts.html %}
        
    </body>
</html>
