<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head> 
    <body>

        {% include navMobile.html %}


        <header class="padding_top200 padding_bottom80 bg_dark_green header_3">
            {% include headerMenu.html %}


            <div class="container nopadding">
                <div class="row justify-content-left">
                    <div class="left15">
                        <img src="../i/logos/antidoto.svg" class="width80">
                    </div>
                    <div class="top20 left20 right10 font42 uppercase bold font_second dark_gray title">
                        01
                    </div>
                    <div class="top20 font42 uppercase bold font_second dark title">
                        Antídotos
                    </div>
                </div>
                <div class="left100 right60 font14 medium soft_green text_left">
                    contra o fim do mundo: imagine como quer viver. (ouse! sonhe, crie, extrapole a razão)
                </div>	
            </div>
            <div class="container nopadding text-left">
                <div class="container nopadding">
                    <div class="row justify-content-center">
                        <div class="col-xs-6 col-lg-6 padding_top40">
                            <div class="block sides10">
                                <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                            </div>
                            <div class="top10 left10 font16 extrabold font_second link soft_green title">Abdul-Halim</div>
                        </div>
                        <div class="col-xs-6 col-lg-6 padding_top40">
                            <div class="block sides10">
                                <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                            </div>
                            <div class="top10 left10 font16 extrabold font_second link soft_green title">Fabiana Cozz</div>
                        </div>
                    </div>		
                </div>
            </div>
        </header>

        <section id="democracia" class="bg_dark_green padding_bottom40">
            <div class="container nopadding">
                <div class="row bottom20">
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                </div>
                <div class="row bottom20">
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                </div>
                <div class="row bottom20">
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                    <div class="col-xs-3 col-lg-3">
                        <div class="block sides10">
                            <a href="https://www.youtube.com/embed/Jacn7ZkYOnE?rel=0&showinfo=0" target="_blank" data-fancybox="fancybox" class="margin_top35 margin_bottom40 relative play red"><img src="i/video_poster.jpg" class="width_full" alt="" /></a>
                        </div>
                        <p class="left10 font12 bold font_second link soft_green title">Fulana Famosa</p>
                    </div>
                </div>
            </div>
        </section>



        <footer class="footer_11 bg_dark padding_top25 padding_bottom20">
            {% include footer.html %}
        </footer>
        
        <!-- popup with video -->
        <div class="overlay"></div>

        <div class="video_popup">
            <a class="close">
                <img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
            </a>
            <div class="flex align_center justify_center width_full height_full iframe_container"></div>
        </div>

        {% include scripts.html %}
        
    </body>
</html>